*.class

# Help #
backend/*.md

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# NetBeans #
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/

# Apple #
.DS_Store

# Intellij #
.idea
*.iml
*.log

# logback
logback.out.xml

build
backend/src/main/resources/public/
backend/target
backend/build
backend/.mvn
backend/mvnw
/fs-platform-ru/frontend/dist/
/fs-platform-ru/frontend/build
/fs-platform-ru/frontend/node/
/fs-platform-ru/frontend/node_modules/
/fs-platform-ru/frontend/npm-debug.log
/fs-platform-ru/frontend/target
.gradle

!.mvn/wrapper/maven-wrapper.jar
*.MF