@charset "UTF-8";
@font-face {
  font-family: "Angry";
  src: url("../fonts/Angry-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM-Sans";
  src: url("../fonts/DM-Sans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid-Square";
  src: url("../fonts/Euclid-Square-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid-Square";
  src: url("../fonts/Euclid-Square-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Angry";
  src: url("../fonts/Angry-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM-Sans";
  src: url("../fonts/DM-Sans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid-Square";
  src: url("../fonts/Euclid-Square-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid-Square";
  src: url("../fonts/Euclid-Square-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 375.2px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 376px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (max-width: 1920px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (min-width: 1921px) {
  .visible-desktop {
    display: none !important;
  }
}

:root {
  --color-basic-white: #FFFFFF;
  --color-basic-grey: #878797;
  --color-basic-dark-grey-light: #343f42;
  --color-basic-dark-grey: #353652;
  --color-basic-blue: #1F203F;
  --color-basic-dark-blue: #101030;
  --color-accent-brown: #BC8070;
  --color-accent-purple: #8333F3;
  --color-accent-purple-gradient: linear-gradient(
      90deg, #8333F3 0%,
      #5f4af3 48.55%,
      #3b51a8 100%);
  --color-accent-purple-light-gradient:linear-gradient(
      90deg, #a875f1 0%,
      #8d7ef3 48.55%,
      #6c7cba 100%);
  --color-accent-purple-gradient: linear-gradient(
      90deg, #8333F3 0%,
      #5f4af3 48.55%,
      #3b51a8 100%);
  --color-accent-purple-light-gradient:linear-gradient(
      90deg, #a875f1 0%,
      #8d7ef3 48.55%,
      #6c7cba 100%);
  --color-accent-purple-second-light-gradient:linear-gradient(
      90deg, rgba(131, 51, 243, 0.2) 0%,
      rgba(95, 74, 243, 0.2) 48.55%,
      rgba(56, 98, 244, 0.2) 100%);
  --color-transparent-grey: rgba(255, 255, 255, 0.1);
  --color-transparent-purple: rgba(16, 16, 48, 0.7);
  --color-transparent-dark: rgba(0, 0, 0, 0.7);
  --button-border-radius: 50px;
  --button-border-radius-small: 20px;
  --button-shadow: 0 0 80px 0 #9653f5;
  --font-family: "Montserrat", sans-serif;
  --second-family: "Angry", sans-serif;
  --font3: "Euclid Square", sans-serif;
  --third-family: "DM Sans", sans-serif;
  --font5: "Poppins", sans-serif;
  --font4: "Inter", sans-serif;
  --font6: "Roboto", sans-serif;
  --container-width: 1798px;
  --container-padding-x: 15px;
  --section-padding-y: 100px;
  --input-height: 64px;
  --input-height-secondary: 50px;
  --button-height: 68px;
  --button-height-secondary: 64px;
  --button-height-tablet: 60px;
  --button-height-secondary-tablet: 52px;
  --button-height-mobile: 50px;
  --button-height-secondary-mobile: 40px;
  --transition-duration: 0.2s;
}

body {
  font-size: clamp(20px, 1.25vw, 24px);
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-basic-white);
  background-color: var(--color-basic-dark-blue);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h2 {
  font-size: clamp(32px, 4.1666666667vw, 80px);
}

h3 {
  font-size: clamp(28px, 2.3958333333vw, 46px);
}

h4 {
  font-size: clamp(16px, 1.875vw, 36px);
}

h5 {
  font-size: clamp(18px, 1.4583333333vw, 28px);
}

img {
  display: block;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 375.2px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 376px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (max-width: 1920px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (min-width: 1921px) {
  .visible-desktop {
    display: none !important;
  }
}

:root {
  --color-basic-white: #FFFFFF;
  --color-basic-grey: #878797;
  --color-basic-dark-grey-light: #343f42;
  --color-basic-dark-grey: #353652;
  --color-basic-blue: #1F203F;
  --color-basic-dark-blue: #101030;
  --color-accent-brown: #BC8070;
  --color-accent-purple: #8333F3;
  --color-accent-purple-gradient: linear-gradient(
      90deg, #8333F3 0%,
      #5f4af3 48.55%,
      #3b51a8 100%);
  --color-accent-purple-light-gradient:linear-gradient(
      90deg, #a875f1 0%,
      #8d7ef3 48.55%,
      #6c7cba 100%);
  --color-accent-purple-gradient: linear-gradient(
      90deg, #8333F3 0%,
      #5f4af3 48.55%,
      #3b51a8 100%);
  --color-accent-purple-light-gradient:linear-gradient(
      90deg, #a875f1 0%,
      #8d7ef3 48.55%,
      #6c7cba 100%);
  --color-accent-purple-second-light-gradient:linear-gradient(
      90deg, rgba(131, 51, 243, 0.2) 0%,
      rgba(95, 74, 243, 0.2) 48.55%,
      rgba(56, 98, 244, 0.2) 100%);
  --color-transparent-grey: rgba(255, 255, 255, 0.1);
  --color-transparent-purple: rgba(16, 16, 48, 0.7);
  --color-transparent-dark: rgba(0, 0, 0, 0.7);
  --button-border-radius: 50px;
  --button-border-radius-small: 20px;
  --button-shadow: 0 0 80px 0 #9653f5;
  --font-family: "Montserrat", sans-serif;
  --second-family: "Angry", sans-serif;
  --font3: "Euclid Square", sans-serif;
  --third-family: "DM Sans", sans-serif;
  --font5: "Poppins", sans-serif;
  --font4: "Inter", sans-serif;
  --font6: "Roboto", sans-serif;
  --container-width: 1798px;
  --container-padding-x: 15px;
  --section-padding-y: 100px;
  --input-height: 64px;
  --input-height-secondary: 50px;
  --button-height: 68px;
  --button-height-secondary: 64px;
  --button-height-tablet: 60px;
  --button-height-secondary-tablet: 52px;
  --button-height-mobile: 50px;
  --button-height-secondary-mobile: 40px;
  --transition-duration: 0.2s;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: var(--button-height);
  padding-inline: 40px;
  border-radius: var(--button-border-radius);
  border: none;
}
.button:hover {
  cursor: pointer;
}
.button__text {
  font-weight: 600;
  font-size: 25px;
  color: var(--color-basic-white);
}
.button__text::first-letter {
  text-transform: uppercase;
}
.button_purple {
  background: var(--color-accent-purple-gradient);
}
@media (hover: hover) {
  .button_purple:hover {
    background: var(--color-accent-purple-light-gradient);
  }
}
@media (hover: none) {
  .button_purple:active {
    background: var(--color-accent-purple-light-gradient);
  }
}
.button_white {
  background: var(--color-basic-white);
}
.button_white .button__text {
  background: var(--color-accent-purple-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--color-accent-purple);
}
@media (hover: hover) {
  .button_white:hover {
    box-shadow: var(--button-shadow);
  }
}
@media (hover: none) {
  .button_white:active {
    box-shadow: var(--button-shadow);
  }
}
.button_transparent {
  background: transparent;
  position: relative;
  z-index: 0;
}
.button_transparent::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 4px;
  border-radius: var(--button-border-radius);
  background: var(--color-accent-purple-gradient);
  -webkit-mask: linear-gradient(#fff 10 10) content-box, linear-gradient(#fff 10 10);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
@media (max-width: 1023px) {
  .button_transparent::before {
    padding: 3px;
  }
}
@media (max-width: 375.2px) {
  .button_transparent::before {
    padding: 2px;
  }
}
@media (hover: hover) {
  .button_transparent:hover {
    background: var(--color-accent-purple-gradient);
  }
}
@media (hover: none) {
  .button_transparent:active {
    background: var(--color-accent-purple-gradient);
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  aspect-ratio: 1/1;
  position: relative;
}
@media (max-width: 1023px) {
  .burger-button {
    width: 38px;
    aspect-ratio: 1/1;
    margin-top: -4px;
  }
}
@media (max-width: 375.2px) {
  .burger-button {
    width: 24px;
    aspect-ratio: 1/1;
    margin-top: -3px;
  }
}
@media (hover: hover) {
  .burger-button:hover {
    cursor: pointer;
  }
  .burger-button:hover::after {
    background-color: var(--color-accent-purple);
  }
}
@media (hover: hover) and (max-width: 1023px) {
  .burger-button:hover::after {
    box-shadow: 0 -11px var(--color-accent-purple), 0 11px var(--color-accent-purple);
  }
}
@media (hover: hover) and (max-width: 375.2px) {
  .burger-button:hover::after {
    box-shadow: 0 -6px var(--color-accent-purple), 0 6px var(--color-accent-purple);
  }
}
@media (hover: none) {
  .burger-button:active {
    cursor: pointer;
  }
  .burger-button:active::after {
    background-color: var(--color-accent-purple);
  }
}
@media (hover: none) and (max-width: 1023px) {
  .burger-button:active::after {
    box-shadow: 0 -11px var(--color-accent-purple), 0 11px var(--color-accent-purple);
  }
}
@media (hover: none) and (max-width: 375.2px) {
  .burger-button:active::after {
    box-shadow: 0 -6px var(--color-accent-purple), 0 6px var(--color-accent-purple);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 20px;
  height: 2.1px;
  background-color: var(--color-basic-white);
  border-radius: 2px;
  box-shadow: 0 -6px var(--color-basic-white), 0 6px var(--color-basic-white);
}
@media (max-width: 1023px) {
  .burger-button::after {
    width: 34px;
    height: 2.5px;
    box-shadow: 0 -11px var(--color-basic-white), 0 11px var(--color-basic-white);
  }
}
@media (max-width: 375.2px) {
  .burger-button::after {
    width: 20px;
    height: 2.1px;
    box-shadow: 0 -6px var(--color-basic-white), 0 6px var(--color-basic-white);
  }
}

.companies {
  width: 100%;
  margin: 0 auto;
  padding-top: clamp(60px, 5.2083333333vw, 100px);
  padding-right: clamp(15px, 3.125vw, 60px);
  padding-bottom: clamp(60px, 5.2083333333vw, 100px);
  padding-left: clamp(15px, 3.125vw, 60px);
  overflow-x: hidden;
}
@media (max-width: 375.2px) {
  .companies {
    padding: 0 15px 60px;
  }
}
.companies h2 {
  position: relative;
  text-transform: uppercase;
}
.companies h2::before {
  position: absolute;
  transform: translateY(-40%);
  content: "компании";
  font-weight: 600;
  font-size: clamp(0px, 8.3333333333vw, 160px);
  text-transform: uppercase;
  opacity: 0.02;
}
@media (max-width: 1023px) {
  .companies h2::before {
    display: none;
  }
}
.companies__see-all-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}
@media (max-width: 1023px) {
  .companies__see-all-button {
    margin-top: 30px;
  }
}
@media (max-width: 375.2px) {
  .companies__see-all-button {
    display: none;
  }
}
.companies__see-all-button .button {
  width: clamp(188px, 14.1666666667vw, 272px);
  height: clamp(40px, 3.3333333333vw, 64px);
  padding-top: clamp(16px, 1.0416666667vw, 20px);
  padding-right: clamp(20px, 3.125vw, 60px);
  padding-bottom: clamp(16px, 1.0416666667vw, 20px);
  padding-left: clamp(20px, 3.125vw, 60px);
}
.companies__see-all-button .button .button__text {
  font-weight: 600;
  font-size: clamp(15px, 1.0416666667vw, 20px);
}
.companies__catalog {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 80px;
}
@media (max-width: 1023px) {
  .companies__catalog {
    -moz-column-gap: 15px;
         column-gap: 15px;
    margin-top: 40px;
  }
}
@media (max-width: 375.2px) {
  .companies__catalog {
    -moz-column-gap: 7px;
         column-gap: 7px;
    margin-top: 30px;
  }
}
.companies__catalog-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: clamp(116px, 15.8854166667vw, 305px);
  height: clamp(45px, 8.3333333333vw, 160px);
  border-width: clamp(1.28px, 0.1041666667vw, 2px);
  border-style: solid;
  border-color: var(--color-basic-grey);
  border-radius: clamp(16px, 2.6041666667vw, 50px);
}
.companies__catalog-item:hover {
  position: relative;
  z-index: 0;
  border: none;
  background: var(--color-accent-purple-second-light-gradient);
  cursor: pointer;
}
.companies__catalog-item:hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 4px;
  border-radius: clamp(16px, 2.6041666667vw, 50px);
  background: var(--color-accent-purple-gradient);
  -webkit-mask: linear-gradient(#fff 10 10) content-box, linear-gradient(#fff 10 10);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.companies__catalog-item img {
  max-width: 70%;
  max-height: 70%;
}
.companies__slider {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 1023px) {
  .companies__slider {
    margin-top: 40px;
  }
}
.companies__slider input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60%;
  height: clamp(2px, 0.2083333333vw, 4px);
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--color-basic-blue);
  overflow: hidden;
  outline: none;
}
.companies__slider input::-webkit-slider-thumb {
  width: 35%;
  height: 4px;
  background: var(--color-basic-white);
  -webkit-appearance: none;
          appearance: none;
  border: 2px solid var(--color-basic-grey);
  cursor: pointer;
}
.companies__slider input::-moz-range-thumb {
  width: 35%;
  height: 4px;
  background: var(--color-basic-white);
  -moz-appearance: none;
       appearance: none;
  border: 2px solid var(--color-basic-grey);
  cursor: pointer;
}
@media (max-width: 375.2px) {
  .companies__slider input {
    width: 100%;
    height: 2px;
  }
  .companies__slider input::-webkit-slider-thumb {
    width: 25%;
    height: 2px;
    border-width: 1px;
  }
  .companies__slider input::-moz-range-thumb {
    width: 25%;
    height: 2px;
    border-width: 1px;
  }
}
.companies__see-all-button-mobile {
  display: none;
}
@media (max-width: 375.2px) {
  .companies__see-all-button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}
.companies__see-all-button-mobile .button {
  width: 188px;
  height: var(--button-height-secondary-mobile);
  padding: 16px, 20px;
}
.companies__see-all-button-mobile .button .button__text {
  font-weight: 500;
  font-size: 15px;
}

.header {
  position: fixed;
  width: 100%;
  padding: 22px 0;
}
@media (max-width: 1023px) {
  .header {
    padding: 10px 0;
  }
}
@media (max-width: 375.2px) {
  .header {
    padding: 4px 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1550px) {
  .header__inner {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1065px) {
  .header__inner {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__icon-phone {
  display: none;
}
.header__icon-phone svg {
  width: 50px;
  height: 50px;
}
@media (hover: hover) {
  .header__icon-phone svg:hover path {
    stroke: var(--color-accent-purple);
  }
}
@media (hover: none) {
  .header__icon-phone svg:active path {
    stroke: var(--color-accent-purple);
  }
}
@media (max-width: 1023px) {
  .header__icon-phone svg {
    width: 38px;
  }
}
@media (max-width: 375.2px) {
  .header__icon-phone svg {
    width: 24px;
  }
}
@media (min-width: 376px) {
  .header__icon-phone svg path {
    stroke-width: 1.4;
  }
}
@media (max-width: 1260px) {
  .header__icon-phone {
    display: inline;
    order: 1;
  }
}
@media (max-width: 1023px) {
  .header__icon-phone {
    order: -1;
    margin-right: 63px;
  }
}
@media (max-width: 375.2px) {
  .header__icon-phone {
    margin-right: 40px;
  }
}
.header__logo img {
  min-width: 100px;
}
@media (max-width: 1023px) {
  .header__logo img {
    height: 65px;
  }
}
@media (max-width: 375.2px) {
  .header__logo img {
    height: 48px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: var(--color-basic-white);
  height: 68px;
  padding-inline: 4px;
}
.header__menu-link {
  height: 60px;
  padding-inline: 40px;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--color-accent-purple-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--color-accent-purple);
}
@media (hover: hover) {
  .header__menu-link:hover {
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: var(--color-basic-white);
    color: var(--color-basic-white);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: var(--color-basic-white);
    color: var(--color-basic-white);
  }
}
@media (max-width: 1550px) {
  .header__menu-link {
    padding-inline: 30px;
  }
}
@media (max-width: 1420px) {
  .header__menu-link {
    padding-inline: 20px;
  }
}
.header__button {
  width: 380px;
}
@media (max-width: 1420px) {
  .header__button {
    padding-inline: 20px;
  }
}
@media (max-width: 1260px) {
  .header__button {
    display: none;
  }
}
.header__icons {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1550px) {
  .header__icons {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1065px) {
  .header__icons {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 1260px) {
  .header__icons {
    order: 2;
  }
}
@media (max-width: 1023px) {
  .header__icons {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 375.2px) {
  .header__icons {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.header__icons-basket svg {
  width: 50px;
  height: 50px;
}
@media (hover: hover) {
  .header__icons-basket svg:hover path {
    stroke: var(--color-accent-purple);
  }
}
@media (hover: none) {
  .header__icons-basket svg:active path {
    stroke: var(--color-accent-purple);
  }
}
@media (max-width: 1023px) {
  .header__icons-basket svg {
    width: 38px;
  }
}
@media (max-width: 375.2px) {
  .header__icons-basket svg {
    width: 24px;
  }
}
@media (max-width: 375.2px) {
  .header__icons-basket svg path {
    stroke-width: 4;
  }
}
.header__icons-profile svg {
  width: 50px;
  height: 50px;
}
@media (hover: hover) {
  .header__icons-profile svg:hover path {
    stroke: var(--color-accent-purple);
  }
}
@media (hover: none) {
  .header__icons-profile svg:active path {
    stroke: var(--color-accent-purple);
  }
}
.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  aspect-ratio: 1/1;
  position: relative;
}
@media (max-width: 1023px) {
  .cross-button {
    width: 38px;
    aspect-ratio: 1/1;
  }
}
@media (max-width: 375.2px) {
  .cross-button {
    width: 24px;
    aspect-ratio: 1/1;
  }
}
@media (hover: hover) {
  .cross-button:hover {
    cursor: pointer;
  }
  .cross-button:hover::after, .cross-button:hover::before {
    background-color: var(--color-basic-white);
  }
}
@media (hover: none) {
  .cross-button:active {
    cursor: pointer;
  }
  .cross-button:active::after, .cross-button:active::before {
    background-color: var(--color-basic-white);
  }
}
.cross-button::after, .cross-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 2px;
  width: 20px;
  height: 2px;
  background-color: var(--color-basic-grey);
  border-radius: 2px;
}
@media (max-width: 1023px) {
  .cross-button::after, .cross-button::before {
    top: 17px;
    width: 34px;
    height: 2.5px;
  }
}
@media (max-width: 375.2px) {
  .cross-button::after, .cross-button::before {
    top: 11px;
    width: 20px;
    height: 2px;
  }
}
.cross-button::after {
  rotate: 45deg;
}
.cross-button::before {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  border: none;
  background-color: var(--color-basic-dark-blue);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: -moz-max-content;
  max-height: max-content;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-overlay__profile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 4px 15px 10px;
  border-bottom: 1px solid var(--color-basic-dark-grey);
}
.mobile-overlay__profile svg {
  width: 34px;
  height: 34px;
}
@media (min-width: 376px) {
  .mobile-overlay__profile svg {
    width: 45px;
    height: 45px;
  }
}
.mobile-overlay__profile svg path {
  stroke: var(--color-basic-grey);
}
.mobile-overlay__profile-text {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-basic-grey);
  font-size: 18px;
}
@media (min-width: 376px) {
  .mobile-overlay__profile-text {
    font-size: 20px;
  }
}
@media (hover: hover) {
  .mobile-overlay__profile:hover span {
    color: var(--color-basic-white);
  }
  .mobile-overlay__profile:hover svg path {
    stroke: var(--color-basic-white);
  }
}
@media (hover: none) {
  .mobile-overlay__profile:active span {
    color: var(--color-basic-white);
  }
  .mobile-overlay__profile:active svg path {
    stroke: var(--color-basic-white);
  }
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 38px;
}
.mobile-overlay__link {
  padding: 12px var(--container-padding-x);
  display: inline-flex;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  background: var(--color-accent-purple-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--color-accent-purple);
}
@media (hover: hover) {
  .mobile-overlay__link:hover {
    background: var(--color-basic-white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color-basic-white);
  }
}
@media (hover: none) {
  .mobile-overlay__link:active {
    background: var(--color-basic-white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color-basic-white);
  }
}
.mobile-overlay__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}
@media (max-width: 1023px) {
  .mobile-overlay__button {
    height: var(--button-height-tablet);
    padding-inline: 30px;
  }
  .mobile-overlay__button .button__text {
    font-size: 20px;
  }
}
@media (max-width: 375.2px) {
  .mobile-overlay__button {
    height: var(--button-height-mobile);
    padding-inline: 20px;
    padding-inline: 25px !important;
  }
  .mobile-overlay__button .button__text {
    font-size: 17px;
  }
}
.mobile-overlay__networks {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin: 25px 0 30px;
}
@media (hover: hover) {
  .mobile-overlay__network:hover svg path {
    fill: var(--color-basic-white);
  }
}
@media (hover: none) {
  .mobile-overlay__network:active svg path {
    fill: var(--color-basic-white);
  }
}
.mobile-overlay__network svg path {
  fill: var(--color-basic-grey);
}
@media (min-width: 376px) {
  .mobile-overlay__network svg {
    width: 38px;
    height: 38px;
  }
}

.professions {
  width: 100%;
  margin: 0 auto;
  padding-top: clamp(60px, 5.2083333333vw, 100px);
  padding-right: clamp(15px, 3.125vw, 60px);
  padding-bottom: clamp(60px, 5.2083333333vw, 100px);
  padding-left: clamp(15px, 3.125vw, 60px);
  overflow-x: hidden;
}
@media (max-width: 375.2px) {
  .professions {
    padding: 0 15px 60px;
  }
}
.professions h2 {
  position: relative;
  text-transform: uppercase;
}
.professions h2::before {
  position: absolute;
  transform: translateY(-40%);
  content: "профессии";
  font-weight: 600;
  font-size: clamp(0px, 8.3333333333vw, 160px);
  text-transform: uppercase;
  opacity: 0.02;
}
@media (max-width: 1023px) {
  .professions h2::before {
    display: none;
  }
}
.professions__most-popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
@media (max-width: 375.2px) {
  .professions__most-popular {
    margin-top: 30px;
  }
}
.professions__most-popular h4 {
  text-transform: uppercase;
}
@media (max-width: 375.2px) {
  .professions__most-popular h4 {
    text-transform: none;
    color: var(--color-basic-grey);
  }
  .professions__most-popular h4::first-letter {
    text-transform: uppercase;
  }
}
@media (max-width: 375.2px) {
  .professions__most-popular__button {
    display: none;
  }
}
.professions__most-popular__button .button {
  width: clamp(188px, 14.1666666667vw, 272px);
  height: clamp(40px, 3.3333333333vw, 64px);
  padding-top: clamp(16px, 1.0416666667vw, 20px);
  padding-right: clamp(20px, 3.125vw, 60px);
  padding-bottom: clamp(16px, 1.0416666667vw, 20px);
  padding-left: clamp(20px, 3.125vw, 60px);
}
.professions__most-popular__button .button .button__text {
  font-weight: 600;
  font-size: clamp(15px, 1.0416666667vw, 20px);
}
.professions__catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 30px;
  width: 100%;
  margin-top: 80px;
}
@media (max-width: 1023px) {
  .professions__catalog {
    gap: 50px 20px;
  }
}
@media (max-width: 375.2px) {
  .professions__catalog {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0 12px;
    margin-top: 30px;
  }
}
.professions__catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: clamp(320px, 22.1875vw, 426px);
  height: clamp(391px, 27.0833333333vw, 520px);
  padding: 20px 30px;
  padding-top: clamp(15px, 1.0416666667vw, 20px);
  padding-right: clamp(20px, 1.5625vw, 30px);
  padding-bottom: clamp(15px, 1.0416666667vw, 20px);
  padding-left: clamp(20px, 1.5625vw, 30px);
  border-radius: 50px;
  background: var(--color-accent-purple-gradient);
  transition-duration: var(--transition-duration);
}
.professions__catalog-item:nth-of-type(1) {
  background: url(../img/professions/programmer.svg) no-repeat center/cover;
}
.professions__catalog-item:nth-of-type(2) {
  background: url(../img/professions/designer.svg) no-repeat center/cover;
}
.professions__catalog-item:nth-of-type(3) {
  background: url(../img/professions/engineer.svg) no-repeat center/cover;
}
.professions__catalog-item:nth-of-type(4) {
  background: url(../img/professions/programmer.svg) no-repeat center/cover;
}
@media (max-width: 375.2px) {
  .professions__catalog-item {
    width: 320px;
    height: 391px;
    padding: 15px 20px;
    border-radius: 38px;
  }
}
@media (hover: hover) {
  .professions__catalog-item:hover {
    box-shadow: var(--button-shadow);
    scale: 1.02;
    cursor: pointer;
  }
  .professions__catalog-item:hover .professions__catalog-item-arrow-right {
    display: flex;
  }
}
@media (hover: hover) and (max-width: 375.2px) {
  .professions__catalog-item:hover .professions__catalog-item-arrow-right {
    display: none;
  }
}
@media (hover: none) {
  .professions__catalog-item:active {
    box-shadow: var(--button-shadow);
    scale: 1.02;
    cursor: pointer;
  }
  .professions__catalog-item:active .professions__catalog-item-arrow-right {
    display: flex;
  }
}
@media (hover: none) and (max-width: 375.2px) {
  .professions__catalog-item:active .professions__catalog-item-arrow-right {
    display: none;
  }
}
.professions__catalog-item-arrow-right {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  right: 4%;
  width: 58px;
  aspect-ratio: 1/1;
  width: clamp(44px, 3.0208333333vw, 58px);
  border-radius: 50%;
  background: var(--color-basic-white);
}
@media (max-width: 375.2px) {
  .professions__catalog-item-arrow-right {
    width: 44px;
    aspect-ratio: 1/1;
  }
}
.professions__catalog-item-arrow-right svg {
  stroke-width: 2px;
  color: var(--color-basic-dark-grey-light);
}
.professions__catalog-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(211px, 14.6354166667vw, 281px);
  height: clamp(43px, 3.0208333333vw, 58px);
  border-radius: 50px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: var(--color-basic-white);
  opacity: 0.7;
}
@media (max-width: 375.2px) {
  .professions__catalog-item-name {
    width: 211px;
    height: 43px;
    border-radius: 38px;
    -webkit-backdrop-filter: blur(3.7613182068px);
            backdrop-filter: blur(3.7613182068px);
  }
}
.professions__catalog-item-name p {
  font-weight: 600;
  font-size: clamp(22px, 1.5625vw, 30px);
  line-height: 167%;
  color: var(--color-basic-dark-blue);
}
.professions__catalog-item-name p::first-letter {
  text-transform: uppercase;
}
.professions__catalog-item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(224px, 15.5208333333vw, 298px);
  height: clamp(46px, 3.2291666667vw, 62px);
  border-radius: 50px;
  background: var(--color-basic-white);
}
@media (max-width: 375.2px) {
  .professions__catalog-item-price {
    width: 224px;
    height: 46px;
    border-radius: 38px;
  }
}
.professions__catalog-item-price p {
  font-size: clamp(18px, 1.25vw, 24px);
  line-height: 167%;
  color: var(--color-basic-grey);
}
.professions__catalog-item-price span {
  font-size: clamp(27px, 1.875vw, 36px);
  text-transform: uppercase;
  background: var(--color-accent-purple-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.professions__slider {
  display: none;
}
@media (max-width: 375.2px) {
  .professions__slider {
    display: block;
    margin-top: 40px;
  }
}
.professions__slider input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--color-basic-blue);
  overflow: hidden;
  outline: none;
}
.professions__slider input::-webkit-slider-thumb {
  width: 25%;
  height: 2px;
  background: var(--color-basic-white);
  -webkit-appearance: none;
          appearance: none;
  border: 1px solid var(--color-basic-grey);
  cursor: pointer;
}
.professions__slider input::-moz-range-thumb {
  width: 25%;
  height: 2px;
  background: var(--color-basic-white);
  -moz-appearance: none;
       appearance: none;
  border: 1px solid var(--color-basic-grey);
  cursor: pointer;
}
.professions__see-all-button {
  display: none;
}
@media (max-width: 375.2px) {
  .professions__see-all-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}
.professions__see-all-button .button {
  width: 188px;
  height: var(--button-height-secondary-mobile);
  padding: 16px 20px;
}
.professions__see-all-button .button .button__text {
  font-weight: 500;
  font-size: 15px;
}
.professions__what-else {
  margin-top: 100px;
}
@media (max-width: 375.2px) {
  .professions__what-else {
    margin-top: 40px;
  }
}
.professions__what-else h4 {
  text-transform: uppercase;
}
@media (max-width: 375.2px) {
  .professions__what-else h4 {
    text-transform: none;
  }
  .professions__what-else h4::first-letter {
    text-transform: uppercase;
  }
}
.professions__suggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 43px;
       column-gap: 43px;
  width: 100%;
  margin-top: 80px;
}
@media (max-width: 1023px) {
  .professions__suggestion {
    -moz-column-gap: 15px;
         column-gap: 15px;
    margin-top: 30px;
  }
}
@media (max-width: 375.2px) {
  .professions__suggestion {
    flex-wrap: nowrap;
    -moz-column-gap: 7px;
         column-gap: 7px;
    margin-top: 20px;
  }
}
.professions__suggestion input {
  width: clamp(345px, 41.6145833333vw, 799px);
  height: clamp(44px, 3.3333333333vw, 64px);
  padding-top: clamp(0px, 0vw, 0px);
  padding-right: clamp(20px, 2.0833333333vw, 40px);
  padding-bottom: clamp(0px, 0vw, 0px);
  padding-left: clamp(20px, 2.0833333333vw, 40px);
  border-width: clamp(2px, 0.15625vw, 3px);
  border-style: solid;
  border-color: var(--color-basic-grey);
  border-radius: 50px;
  font-size: clamp(16px, 1.875vw, 36px);
  background-color: transparent;
  color: var(--color-basic-grey);
  caret-color: var(--color-basic-grey);
}
@media (max-width: 375.2px) {
  .professions__suggestion input {
    width: 295px;
    height: 44px;
    padding: 0 20px;
    border-width: 2px;
  }
}
@media (max-width: 375.2px) {
  .professions__suggestion__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url(../img/icons/ion_arrow-redo-outline-purple.svg) no-repeat center/50%;
  }
}
.professions__suggestion__button .button {
  width: clamp(188px, 14.1666666667vw, 272px);
  height: clamp(44px, 3.3333333333vw, 64px);
  padding-top: clamp(16px, 1.0416666667vw, 20px);
  padding-right: clamp(20px, 3.125vw, 60px);
  padding-bottom: clamp(16px, 1.0416666667vw, 20px);
  padding-left: clamp(20px, 3.125vw, 60px);
}
@media (max-width: 375.2px) {
  .professions__suggestion__button .button {
    width: 44px;
    height: 44px;
    padding: 0;
  }
}
@media (max-width: 375.2px) and (hover: hover) {
  .professions__suggestion__button .button:hover {
    border: 3px solid var(--color-basic-white);
  }
}
@media (max-width: 375.2px) and (hover: none) {
  .professions__suggestion__button .button:active {
    border: 3px solid var(--color-basic-white);
  }
}
.professions__suggestion__button .button .button__text {
  font-weight: 600;
  font-size: clamp(15px, 1.0416666667vw, 20px);
}
@media (max-width: 375.2px) {
  .professions__suggestion__button .button .button__text {
    display: none;
  }
}

.stages-of-work {
  width: 100%;
  margin: 0 auto;
  padding: 100px 60px;
}
@media (max-width: 375.2px) {
  .stages-of-work {
    padding: 0 15px 60px;
  }
  .stages-of-work::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 17%;
    background: linear-gradient(180deg, rgba(16, 16, 48, 0) 0%, rgba(16, 16, 48, 0.78) 60.23%, #101030 100%);
  }
}
.stages-of-work h2 {
  position: relative;
  text-transform: uppercase;
}
.stages-of-work h2::before {
  position: absolute;
  transform: translateY(-40%);
  content: "как мы работаем";
  font-weight: 600;
  font-size: clamp(0px, 8.3333333333vw, 160px);
  text-transform: uppercase;
  opacity: 0.02;
}
@media (max-width: 1023px) {
  .stages-of-work h2::before {
    display: none;
  }
}
.stages-of-work__stages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 122px;
  gap: 80px 40px;
}
@media (max-width: 375.2px) {
  .stages-of-work__stages {
    position: relative;
    height: 323px;
    margin-top: 24px;
    gap: 0;
    overflow-y: hidden;
  }
}
.stages-of-work__stages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  position: relative;
  width: 418px;
  padding: 83px 20px 47px;
  border: 1px solid var(--color-basic-dark-blue);
  border-radius: 22px;
  text-align: center;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: var(--color-transparent-grey);
  opacity: 0.7;
  transition-duration: var(--transition-duration);
}
@media (max-width: 375.2px) {
  .stages-of-work__stages-item {
    align-items: flex-start;
    margin-bottom: 16px;
    padding: 0 0 16px;
    border: none;
    border-bottom: 1px solid var(--color-basic-dark-grey);
    border-radius: 0;
    background: transparent;
    text-align: left;
  }
}
@media (hover: hover) {
  .stages-of-work__stages-item:hover {
    box-shadow: var(--button-shadow);
    border: none;
  }
  .stages-of-work__stages-item:hover .stages-of-work__stages-icon {
    width: 89px;
    aspect-ratio: 1/1;
    border: none;
  }
}
@media (hover: none) {
  .stages-of-work__stages-item:active {
    box-shadow: var(--button-shadow);
    border: none;
  }
  .stages-of-work__stages-item:active .stages-of-work__stages-icon {
    width: 89px;
    aspect-ratio: 1/1;
    border: none;
  }
}
.stages-of-work__stages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  top: 0;
  width: 85px;
  aspect-ratio: 1/1;
  box-sizing: content-box;
  border: 8px solid var(--color-basic-dark-blue);
  border-radius: 50%;
  fill: var(--color-accent-purple-gradient);
  stroke-width: 8px;
  stroke: var(--color-basic-dark-blue);
  background: var(--color-accent-purple-gradient);
  transition-duration: var(--transition-duration);
}
@media (max-width: 375.2px) {
  .stages-of-work__stages-icon {
    display: none;
  }
}
.stages-of-work__stages-icon svg {
  width: 47px;
  aspect-ratio: 1/1;
}
.stages-of-work__stages-number {
  display: none;
}
@media (max-width: 375.2px) {
  .stages-of-work__stages-number {
    display: block;
  }
}
.stages-of-work__stages-number h5 {
  font-weight: 400;
  font-size: 28px;
  color: var(--color-basic-dark-grey);
}
.stages-of-work__stages-text {
  width: 100%;
}
.stages-of-work__stages-text h5 {
  margin-bottom: 12px;
  text-transform: uppercase;
  background: var(--color-accent-purple-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--color-accent-purple);
}
@media (max-width: 375.2px) {
  .stages-of-work__stages-text h5 {
    font-weight: 600;
    font-size: 18px;
  }
}
.stages-of-work__stages-text ul {
  margin: 0;
  padding: 0;
  list-style-type: "- ";
  list-style-position: inside;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-basic-grey);
}
@media (max-width: 375.2px) {
  .stages-of-work__stages-text ul {
    font-size: 12px;
    line-height: 15px;
  }
}
.stages-of-work__button {
  display: none;
  margin-top: 13px;
}
@media (max-width: 375.2px) {
  .stages-of-work__button {
    display: flex;
    justify-content: center;
  }
}
.stages-of-work__button .button {
  width: 188px;
  height: var(--button-height-secondary-mobile);
  padding: 16px 20px;
}
.stages-of-work__button .button .button__text {
  font-weight: 500;
  font-size: 15px;
}/*# sourceMappingURL=index.css.map */