:root{
    //все цвета
    --color-basic-white: #FFFFFF;
    --color-basic-grey: #878797;
    --color-basic-dark-grey: #353652;
    --color-basic-blue: #1F203F;
    --color-basic-dark-blue: #101030;

    --color-accent-brown: #BC8070;
    --color-accent-purple: #8333F3;

    --color-transparent-grey: rgba(255, 255, 255, 0.1);
    --color-transparent-purple: rgba(16, 16, 48, 0.7);
    --color-transparent-dark: rgba(0, 0, 0, 0.7);

    //границы
    --border: border: 3px solid var(var(--color-basic-grey));//???
    --border-radius: 50px; //+small +large

    //тени


    //шрифты
    --font-family: "Montserrat", sans-serif;
    --second-family: "Angry", sans-serif;
    --font3: "Euclid Square", sans-serif;
    --third-family: "DM Sans", sans-serif;
    --font5: "Poppins", sans-serif;
    --font4: "Inter", sans-serif;
    --font6: "Roboto", sans-serif;

    //сетка
    --container-width: 1798px;
    --container-padding-x: 15px;

    --section-padding-y: 100px; //????

    --input-height: 4rem;
    --button-height: 4.25rem;
    --button-secondary-height: 4rem;

    //анимация
    --transition-duration: 0.2s;

}