@import
'fonts',
'globals',
'media',
'mixins',
'normalize',
'utils',
'variables';

@import
'blocks/button',
'blocks/burger-button',
'blocks/header',
'blocks/cross-button',
'blocks/mobile-overlay',
'blocks/professions',
'blocks/stages';
