@tailwind components;

@layer components {
    .btn-custom {
        @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
    }

    .card_custom {
        @apply bg-white shadow-md rounded-lg p-4;
    }

    .scrollbar_custom::-webkit-scrollbar {
        height: 4px;
    }

    .scrollbar_custom::-webkit-scrollbar-thumb {
        background-color: #898997;
        border-radius: 4px;
    }

    .scrollbar_custom::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
    }

    .no-scrollbar_custom::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar_custom {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .title80px_desktop {
        @apply text-white text-35xl 4xl:text-27xl 3xl:text-25xl 2xl:text-21xl font-semibold uppercase;
    }
    .title28px_mobi_custom {
        @apply text-white text-9xl font-medium uppercase;
    }

    .text36px_desktop {
        @apply text-[36px] 4xl:text-10xl 3xl:text-9xl 2xl:text-7xl;
    }
    .text32px_desktop {
        @apply text-[32px] 4xl:text-10xl 3xl:text-6xl 2xl:text-6xl;
    }
    .text30px_desktop {
        @apply text-[30px] 4xl:text-9xl 3xl:text-8xl 2xl:text-6xl !important;
    }
    .text28px_desktop {
        @apply text-[28px] 4xl:text-7xl 3xl:text-6xl 2xl:text-5xl;
    }
    .text24px_desktop {
        @apply text-[24px] 4xl:text-6xl 3xl:text-5xl 2xl:text-4xl;
    }
    .text18px_desktop {
        @apply text-[18px] 4xl:text-2xl 3xl:text-xl 2xl:text-lg;
    }
    .text20px_desktop {
        @apply text-5xl 4xl:text-3xl 3xl:text-2xl 2xl:text-lg;
    }
    .text15px_desktop {
        @apply text-2xl 4xl:text-lg 3xl:text-base 2xl:text-base;
    }

    .text28px_mobi {
        @apply text-9xl sm:text-7xl;
    }
    .text22px_mobi {
        @apply md:text-6xl sm_xl:text-5xl sm_l:text-4xl sm_s:text-3xl sm:text-3xl !important;
    }
    .text18px_mobi {
        @apply text-4xl md:text-4xl sm_xl:text-4xl sm_l:text-3xl sm_s:text-2xl sm:text-2xl;
    }
    .text16px_mobi {
        @apply text-[16px] md:text-[16px] sm_xl:text-[16px] sm_l:text-base sm_s:text-base sm:text-base;
    }
    .text14px_mobi {
        @apply text-[14px] md:text-[14px] sm_xl:text-[14px] sm_l:text-xs sm_s:text-xs sm:text-xs;
    }
    .text12px_mobi {
        @apply text-base md:text-base sm_xl:text-sm sm_l:text-xs sm_s:text-xs sm:text-xs;
    }

    .text-gradient_desktop_custom {
        @apply bg-gradient-desktop bg-clip-text text-transparent;
    }
    .text-gradient_mobi_custom {
        @apply bg-gradient-desktop bg-clip-text text-transparent;
    }

    .button-shadow_around_desktop_custom {
        @apply shadow-shadow-around-desktop-custom;
    }
    .button-shadow_around_mobi_custom {
        @apply shadow-shadow-around-mobi-custom;
    }
    .button-shadow_right_desktop_custom {
        @apply shadow-shadow-right-desktop-custom;
    }
    .paddings-desktop-custom {
        @apply pt-[10vw] pb-[50px] 3xl:pt-[7.5vw] 2xl:pt-[3.75rem] 2xl:pb-[3.75rem] xl:py-[2.5rem] lg:py-[2rem];
    }
    .gradient-text-desktop-custom {
        @apply bg-gradient-desktop bg-clip-text text-[1.5625rem] font-semibold text-transparent 2xl:text-[1.375rem];
    }

    .custom-grey {
        color: #878797;
    }

    .bg-custom-grey {
        background-color: #878797;
    }

    .radial-gradient_desktop {
        @apply size-[852px] opacity-30 rounded-full absolute z-[0];
        background: radial-gradient(circle, #8917a5 0%, #30217b 100%);
        filter: blur(100px);
    }

    .input-form-desktop-custom {
        @apply py-2 px-4 mt-1 text-white border-2 text18px_desktop border-[#878797] bg-[#101030] rounded-[50px] placeholder:text18px_desktop  placeholder:font-medium placeholder:text-[#353652] focus:border focus:border-[#878797] focus:outline-none
        focus:bg-[#1f203f];
    }
    .label-form-desktop-custom {
        @apply text-white text15px_desktop font-semibold;
    }
    .error-form-desktop-custom {
        @apply mt-1 text-[#bc8070] text15px_desktop font-medium;
    }

    .input-form-mobi-custom {
        @apply py-2 px-4 mt-1 text-white border text14px_mobi border-[#878797] bg-[#101030] rounded-[50px] placeholder:text14px_mobi  placeholder:font-medium placeholder:text-[#353652] focus:border focus:border-[#878797] focus:outline-none
        focus:bg-[#1f203f];
    }
    .label-form-mobi-custom {
        @apply text-white text14px_mobi font-medium;
    }
    .error-form-mobi-custom {
        @apply mt-1 text-[#bc8070] text12px_mobi font-medium;
    }

    .custom_error_style_input {
        @apply border-red-500;
    }
    .scrollbar-modal_desktop_custom {
        overflow-y: auto;
        cursor: grab;
    }
    .scrollbar-modal_desktop_custom::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-modal_desktop_custom {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-modal_desktop_custom:hover {
        cursor: grabbing;
    }
}
