@tailwind components;

@layer components {
    .btn-custom {
        @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
    }

    .card_custom {
        @apply bg-white shadow-md rounded-lg p-4;
    }

    .scrollbar_custom::-webkit-scrollbar {
        height: 4px;
    }

    .scrollbar_custom::-webkit-scrollbar-thumb {
        background-color: #898997;
        border-radius: 4px;
    }

    .scrollbar_custom::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
    }

    .no-scrollbar_custom::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar_custom {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .text18px_mobi {
        @apply text-4xl md:text-4xl sm_xl:text-3xl sm_l:text-2xl sm:text-xl;
    }
    .text12px_mobi {
        @apply text-base md:text-base sm_xl:text-sm sm_l:text-xs sm:text-xs;
    }

    .text-gradient_desktop_custom {
        @apply bg-gradient-desktop bg-clip-text text-transparent;
    }
    .text-gradient_mobi_custom {
        @apply bg-gradient-desktop bg-clip-text text-transparent;
    }

    .button-shadow_around_desktop_custom {
        @apply shadow-shadow-around-desktop-custom;
    }
    .button-shadow_right_desktop_custom {
        @apply shadow-shadow-right-desktop-custom;
    }
    .paddings-desktop-custom {
        @apply px-[3.75rem] pt-[8vw] pb-[50px] 3xl:pt-[4vw] 2xl:pt-[3.75rem] 2xl:pb-[3.75rem] xl:p-[2.5rem] lg:p-[2rem];
    }
    .gradient-text-mobi-custom {
        @apply bg-gradient-desktop bg-clip-text text-[25px] font-semibold text-transparent lg:text-[14px] xl:text-[20px] 2xl:text-[22px];
    }
}
