.header {
    // position: fixed;
    padding: 1.875rem 0;
    // background: url('../../img/logo.svg');

    @include desktop{
        
    }

    // .header__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 3.125rem;
    }
    // .header__icons-phone
    &__icon-phone {
    }
    // .header__logo
    &__logo {
    }
    // .header__menu
    &__menu {
        // .header__menu-list
        &-list {
            display: flex;
            align-items: center;
            // column-gap: 3.125rem;
            border-radius: 3.12rem;
            background: var(--color-basic-white);
            // padding:0.25rem;
            height: 4.25rem;
            padding-inline: 0.25rem;
        }
        // .header__menu-item
        &-item {
        }
        // .header__menu-link
        &-link {
            height: 3.75rem;
            padding-inline: 2.625rem;
            // padding: 1.25rem 2.625rem;
            display: inline-flex;
            align-items: center;

            border-radius: 3.12rem;
            font-size: 1.12rem; //18px
            font-weight: 700;
            text-transform: uppercase;
            background: var(--color-accent-purple-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: var(--color-accent-purple);

            transition-duration: var(--transition-duration);

            @include hover{
                -webkit-background-clip: border-box;
                -webkit-text-fill-color: var(--color-basic-white);
                color: var(--color-basic-white);
            }
        }
    }
    // .header__button
    &__button {
    }
    // .header__icons
    &__icons {
        display: flex;
        align-items: center;
        //возможен миксин???
        column-gap: 3.125rem;
        // .header__icons-basket
        &-basket {
            width: 3.125rem;
            height: 3.125rem;
        }
        // .header__icons-profile
        &-profile {
            width: 3.125rem;
            height: 3.125rem;
        }
        // .header__icons-burger-button
        &-burger-button {
        }
    }
}