.personal-account {
  width: 100%;
  margin: 0 auto;
  padding: 100px 60px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__title {
    @include fluid-text(46, 26);
    text-transform: uppercase;
  }

  .nav__menu-list {
    display: flex;
    justify-content: center;
    gap: 86px;
  }

  .nav__menu-list__item {
    position: relative;

    &_active {
      a {
        background: var(--color-accent-purple-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: var(--color-accent-purple);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 4px;
        background: var(--color-accent-purple-gradient);
      }
    }

    a {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      color: var(--color-basic-grey);
      text-transform: uppercase;
    }
  }

  .shopping-cart {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    gap: 40px 32px;
  }

  .card-container {
    width: 884px;
    padding: 40px 32px;
    border: 1px solid var(--color-basic-blue);
    border-radius: 50px;
    background: var(--color-transparent-grey);
  }

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .card__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--color-accent-purple);
    @include fluid-text(28, 18);
  }

  .card__image {
    position: absolute;
    top: 0;
    right: 0;
  }

  .card__content {
    display: grid;
    grid-template-columns: 1fr 1fr 322px;
  }

  .card__content__item {
    display: contents;

    &__title {
      grid-column: 1;
    }

    &__description {
      grid-column: 2;
    }

    &:nth-last-child(-n+2) .card__content__item__description {
      grid-column: 2/4;
    }

    &:not(:last-child):not(:first-child) p {
      border-top: 2px solid var(--color-basic-dark-grey);
    }

    &-price p {
      border-top: 2px solid var(--color-basic-white);
      font-weight: 600;
      @include fluid-text(22, 16);
      color: var(--color-basic-white);
      margin-top: 10px;
      padding-top: 10px;
    }
  }

  .card__content__item__title {
    @include fluid-text(15, 12);
    line-height: 60px;
    color: var(--color-basic-grey);
  }

  .card__content__item__description {
    @include fluid-text(18, 14);
    line-height: 60px;
    color: var(--color-basic-white);
  }

  .card__button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-top: -13px;

    .card__button-trashcan {
      position: relative;
      background: none;
      border: 0;
      padding: 0;

      svg {
        display: block;
        width: 40px;
        height: 40px;
      }

      path {
        stroke: var(--color-basic-grey);
      }

      &:hover .card__button-trashcan__tooltip {
        display: block;
      }

      &__tooltip {
        position: absolute;
        background-color: var(--color-transparent-grey);
        padding: 10px 20px;
        border-radius: 25px;
        top: 110%;
        left: 0;
        z-index: 10;
        transition: var(--transition-duration);
        display: none;


        &:before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 20px;
          border-width: 7px;
          border-style: solid;
          border-color: transparent transparent var(--color-transparent-grey) transparent;
        }

        &-text {
          white-space: nowrap;
          font-size: 15px;
          line-height: 18px;
          color: var(--color-basic-white);
        }
      }
    }

    .button {
      padding: 20px 48px;
    }

    .button__text {
      font-size: 20px;
    }
  }
}