.stages-of-work {
    width: 100%;
    margin: 0 auto;
    padding: 100px 60px;

    @include tablet {

    }

    @include mobile {
        padding: 0 15px 60px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 17%;
            background: linear-gradient(180deg, rgba(16, 16, 48, 0) 0%, rgba(16, 16, 48, 0.78) 60.23%, #101030 100%);
        }
    }

    h2 {
        position: relative;
        text-transform: uppercase;

        &::before {
            position: absolute;
            transform: translateY(-40%);

            content: "как мы работаем";

            font-weight: 600;
            @include fluid-text(160,0);

            text-transform: uppercase;

            opacity: 0.02;

            @include tablet {
                display: none;
            }

            @include mobile {

            }
        }
    }

    // .stages-of-work__stages
    &__stages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-top: 122px;

        gap: 80px 40px;

        @include tablet {

        }

        @include mobile {
            position: relative;
            height: 323px;
            margin-top: 24px;
            gap: 0;
            overflow-y: hidden;
        }

        // .stages-of-work__stages-item
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;

            position: relative;

            width: 418px;
            padding: 83px 20px 47px;

            border: 1px solid var(--color-basic-dark-blue);
            border-radius: 22px;

            text-align: center;

            backdrop-filter: blur(4px);
            background: var(--color-transparent-grey);

            opacity: 0.7;
            transition-duration: var(--transition-duration);

            @include mobile {
                align-items: flex-start;

                margin-bottom: 16px;
                padding: 0 0 16px;

                border: none;
                border-bottom: 1px solid var(--color-basic-dark-grey);
                border-radius: 0;

                background: transparent;

                text-align: left;
            }

            @include hover {
                box-shadow: var(--button-shadow);
                border: none;

                .stages-of-work__stages-icon {
                    @include square(89px);
                    border: none;
                }
            }
        }

        // .stages-of-work__stages-icon
        &-icon {
            @include flex-center;

            @include abs-center;
            top: 0;

            @include square(85px);

            box-sizing: content-box;

            border: 8px solid var(--color-basic-dark-blue);
            border-radius: 50%;

            fill: var(--color-accent-purple-gradient);
            stroke-width: 8px;
            stroke: var(--color-basic-dark-blue);

            background: var(--color-accent-purple-gradient);

            transition-duration: var(--transition-duration);

            @include mobile {
                display: none;
            }

            svg {
                @include square(47px);
            }
        }

        // .stages-of-work__stages-number
        &-number {
            display: none;

            @include mobile {
                display: block;
            }

            h5 {
                font-weight: 400;
                font-size: 28px;
                color: var(--color-basic-dark-grey);
            }
        }

        // .stages-of-work__stages-text
        &-text {
            width: 100%;

            h5 {
                margin-bottom: 12px;

                text-transform: uppercase;

                background: var(--color-accent-purple-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: var(--color-accent-purple);

                @include mobile {
                    font-weight: 600;
                    font-size: 18px;
                }
            }

            ul {
                margin: 0;
                padding: 0;

                list-style-type: "- ";
                list-style-position: inside;

                font-size: 18px;
                line-height: 22px;

                color: var(--color-basic-grey);

                @include mobile {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }

    // .stages-of-work__button
    &__button {
        display: none;
        margin-top: 13px;

        @include mobile {
            display: flex;
            justify-content: center;
        }

        .button {
            width: 188px;
            height: var(--button-height-secondary-mobile);

            padding: 16px 20px;

            .button__text {
                font-weight: 500;
                font-size: 15px;
            }
        }

    }
}
