.personal-account {
    width: 100%;
    margin: 0 auto;
    padding: 228px 0 100px;
    overflow: hidden;
    position: relative;
    @include flex-column-align-center;
    @media (max-width: 939px) {
        padding: 118px 15px 100px;
    }
    .ellipse-background:nth-child(1) {
        width: 936px;
        height: 936px;
        position: absolute;
        margin-right: 1990px;
        top: -279px;
        z-index: -1;
        background: var(--color-accent-purple-light-radial-gradient);
        border-radius: 50%;
        opacity: 0.3;
        filter: blur(150px);
    }
    .ellipse-background:nth-child(2) {
        position: absolute;
        width: 936px;
        height: 936px;
        top: 650px;
        margin-left: 1540px;
        z-index: -1;
        background: var(--color-accent-purple-light-radial-gradient);
        border-radius: 50%;
        opacity: 0.3;
        filter: blur(150px);
    }
    .personal-account__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include mobile{
            @include flex-column-align-center;
        }
        @media (max-width: 1664px) {
            align-items: center;
            flex-direction: column;
        }
        margin-bottom: 80px;
        @include mobile{
            margin-bottom: 40px;
        }
        h2 {
            position: relative;
            text-transform: uppercase;
            font-weight: 500;
            white-space: nowrap;
            @include fluid-text(46,28);
            @media (max-width: 1664px) {
                margin-bottom: 20px;
            }
            @include mobile{
                height: 34px;
            }
        }
        .personal-account__menu {
            @include flex-center;
            .personal-account__menu-list {
                display: flex;
                @include mobile{
                    display: none;
                }
                gap: 86px;
                @media (max-width: 1664px) {
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                }
                .personal-account__menu-item {
                    .personal-account__menu-link {
                        display: flex;
                        position: relative;
                        font-weight: 700;
	                    color: var(--color-basic-grey);
                        @include fluid-text(18,18);
                        text-transform: uppercase;
                        white-space: nowrap;
                        &::before {
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            content: '';
                            width: 0%;
                            height: 4px;
                            transition: 0.2s;
                            background: var(--color-accent-purple-gradient);
                        }
                        &:hover::before {
                            width: 100%;
                        }
                        &:hover {
                            transition: 0.2s;
                            color: transparent;    
	                        /*-webkit-background-clip: text;*/
	                        background-clip: text;
	                        background-image: var(--color-accent-purple-gradient);
                        }
                    }
                    &:first-child {
                        .personal-account__menu-link {
                            position: relative;
                            color: transparent;    
                            /*-webkit-background-clip: text;*/
                            background-clip: text;
                            background-image: var(--color-accent-purple-gradient);
                            &::before {
                                position: absolute;
                                bottom: -5px;
                                left: 0;
                                content: '';
                                width: 100%;
                                height: 4px;
                                background: var(--color-accent-purple-gradient);
                            }
                        }
                    }
                }
            }
            .personal-account__menu-dropdown {
                display: none;
                @include mobile{
                    display: flex;
                }
                position: relative;
                justify-content: center;
                .personal-account__menu-dropdown-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    height: 26px;
                    .dropdown__button {
                        padding: 0;
                        position: relative;
                        border: none;
                        background-color: var(--color-basic-dark-blue);
                        color: transparent;    
                        /*-webkit-background-clip: text;*/
                        background-clip: text;
                        background-image: var(--color-accent-purple-gradient);
                        text-transform: uppercase;
                        font-weight: 600;
                        @include fluid-text(18,18);
                        white-space: nowrap;
                        &::before {
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 4px;
                            background: var(--color-accent-purple-gradient);
                        }
                    }
                    .dropdown__arrow {
                        width: 15px;
                        height: 8.82px;
                        fill: none;
                        path {
                            fill: url(#paint0_linear_1_409);
                        }
                    }
                }
                .personal-account__menu-dropdown-list {
                    display: none;
                    position: absolute;
                    top: 35px;
                    background: var(--color-accent-purple-gradient);
                    z-index: 1;
                    padding: 10px 20px;
                    border-radius: 15px;
                    .personal-account__menu-dropdown-item {
                        text-align: center;
                        border-bottom: 2px solid var(--color-basic-dark-blue);
                        .personal-account__menu-dropdown-link {
                            white-space: nowrap;
                            text-transform: uppercase;
                            font-weight: 600;
                            @include fluid-text(15,15);
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
                .personal-account__menu-dropdown-input {
                    display: none;
                }
            }
        }
    }
}
