.personal-account {
    width: 100%;
    margin: 0 auto;
    padding: 228px 60px 100px;
    @include flex-column-align-center;
    @include mobile{
        padding: 118px 15px 100px;
    }
    .personal-account__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include mobile{
            @include flex-column-align-center;
        }
        h2 {
            position: relative;
            text-transform: uppercase;
            font-weight: 500;
            white-space: nowrap;
            @include fluid-text(46,28);
        }
        .personal-account__menu {
            @include flex-center;
            .personal-account__menu-list {
                display: flex;
                gap: 86px;
                .personal-account__menu-item {
                    .personal-account__menu-link {
                        display: flex;
                        position: relative;
                        font-weight: 700;
                        color: var(--color-basic-grey);
                        @include fluid-text(18,18);
                        text-transform: uppercase;
                        white-space: nowrap;
                        &::before {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            content: '';
                            width: 0%;
                            height: 2px;
                            transition: 0.2s;
                            background-color: var(--color-accent-purple-gradient);
                        }
                        &:hover::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}