.personal-account {
    .personal-account__cart-catalog {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 40px 30px;
        .personal-account__cart-catalog-item {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 884px;
            height: 634px;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.1);
            padding: 40px 32px;
            .personal-account__cart-catalog-item-title {
                display: flex;
                width: fit-content;
                height: fit-content;
                margin-bottom: 30px;
                font-weight: 500;
                @include fluid-text(28,28);
                color: transparent;    
	            /*-webkit-background-clip: text;*/
	            background-clip: text;
	            background-image: var(--color-accent-purple-gradient);
            }
            %cart-content {
                display: flex;
            }
            .personal-account__cart-catalog-item-content {
                display: flex;
                flex-direction: column;
                gap: 18px;
                margin-bottom: 30px;
                .order-placing__cart-item-content {
                    p {
                        margin: 0;
                        height: 21.5px;
                    }
                    p:nth-of-type(1) {
                        font-weight: 500;
                        @include fluid-text(15,15);
                        color: var(--color-basic-grey);
                        width: 248px;
                    }
                    p:nth-of-type(2) {
                        font-weight: 500;
                        @include fluid-text(18,18);
                        color: #fff;
                    }
                    @extend %cart-content;
                }
                .order-placing__cart-item-content-line {
                    border: 2px solid var(--color-basic-dark-grey);
                    &:nth-of-type(1n) {
                        width: 498px;
                        margin: 0;
                    }
                    &:last-of-type {
                        width: 820px;
                        margin: 0;
                    }
                }
            }
            .personal-account__cart-catalog-item-price {
                width: fit-content;
                margin-bottom: 13px;
                .order-placing__cart-price-line {
                    margin: 0;
                    height: 0;
                    width: 820px;
                    border: 2px solid #fff;
                    margin-bottom: 20px;
                }
                .order-placing__cart-price-content {
                    display: flex;
                    p {
                        margin: 0;
                        font-weight: 600;
                        @include fluid-text(22,22);
                        color: #fff;
                    }
                    p:nth-of-type(1) {
                        width: 245px;
                    }
                }
            }
            .personal-account__cart-catalog-item-remove-card {
                width: fit-content;
                position: absolute;
                bottom: 52px;
                right: 324px;
                &:hover::after {
                    @include flex-center;
                    content: attr(data-title);
                    position: absolute;
                    left: 50%;
                    top: 70%;
                    font-weight: 500;
                    @include fluid-text(15,15);
                    color: #fff;
                    z-index: 1;
                    background: rgba(53, 54, 82, 0.8);
                    border-radius: 25px;
                    width: 201px;
                    height: 38px;
                   }
            }
            .personal-account__cart-catalog-item-button {
                .order-placing__cart-button {
                    position: absolute;
                    bottom: 40px;
                    right: 32px;
                    width: 272px;
                    height: 64px;
                    border: 4px solid transparent;
                    border-radius: 50px;
                    background: linear-gradient(#eee, #292846 0) padding-box,
                    linear-gradient(90deg, #8333F3 0%,#5f4af3 48.55%,#3b51a8 100%) border-box;
                    border-image-slice: 1;
                    @include flex-center;
                    &:hover {
                        background: var(--color-accent-purple-gradient);
                        border: none;
                    }
                    .order-placing__cart-button-text {
                        white-space: nowrap;
                        @include fluid-text(20,20);
                        color: #fff;
                        font-weight: 600;
                    }
                }
                width: 272px;
                height: 64px;
                float: left;
            }
            .personal-account__cart-catalog-item-photo {
                p {
                    margin: 0;
                }
                position: absolute;
                right: 32px;
            }
        }
    }
}
