.personal-account {
    width: 100%;
    margin: 0 auto;
    padding: 228px 0 100px;
    overflow: hidden;
    position: relative;
    @include flex-column-align-center;
    @media (max-width: 939px) {
        padding: 118px 15px 100px;
    }
    .ellipse-background:nth-child(1) {
        width: 936px;
        height: 936px;
        position: absolute;
        margin-right: 1990px;
        top: -279px;
        z-index: -1;
        background: var(--color-accent-purple-light-radial-gradient);
        border-radius: 50%;
        opacity: 0.3;
        filter: blur(150px);
    }
    .ellipse-background:nth-child(2) {
        position: absolute;
        width: 936px;
        height: 936px;
        top: 650px;
        margin-left: 1540px;
        z-index: -1;
        background: var(--color-accent-purple-light-radial-gradient);
        border-radius: 50%;
        opacity: 0.3;
        filter: blur(150px);
    }
    .personal-account__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include mobile{
            @include flex-column-align-center;
        }
        @media (max-width: 1664px) {
            align-items: center;
            flex-direction: column;
        }
        margin-bottom: 80px;
        h2 {
            position: relative;
            text-transform: uppercase;
            font-weight: 500;
            white-space: nowrap;
            @include fluid-text(46,28);
            @media (max-width: 1664px) {
                margin-bottom: 20px;
            }
        }
        .personal-account__menu {
            @include flex-center;
            .personal-account__menu-list {
                display: flex;
                gap: 86px;
                @media (max-width: 1664px) {
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                }
                .personal-account__menu-item {
                    .personal-account__menu-link {
                        display: flex;
                        position: relative;
                        font-weight: 700;
	                    color: var(--color-basic-grey);
                        @include fluid-text(18,18);
                        text-transform: uppercase;
                        white-space: nowrap;
                        &::before {
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            content: '';
                            width: 0%;
                            height: 4px;
                            transition: 0.2s;
                            background: var(--color-accent-purple-gradient);
                        }
                        &:hover::before {
                            width: 100%;
                        }
                        &:hover {
                            transition: 0.2s;
                            color: transparent;    
	                        /*-webkit-background-clip: text;*/
	                        background-clip: text;
	                        background-image: var(--color-accent-purple-gradient);
                        }
                    }
                }
            }
        }
    }
}
